InsertNewlineAtEOF: true
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 80
AlignConsecutiveAssignments: Consecutive
SeparateDefinitionBlocks: Always
SpacesBeforeTrailingComments: 4
